/*
h1 {
    color: aqua;
}
*/


/*Selector Universal*/
/* 
* {
    border: 1px dashed  blue; 
} 
*/


/*Selector por ID*/

/*
#link1 {
    font-size: 20px;
}

#link6 {
    background-color: tomato;
}

*/

/*Buscar por atributo*/
/*
[href] {
    border-bottom: 5px solid blueviolet;
}

[lang] {
    color:aqua
}

*/

/*Selector  por elemento*/
/*
h1.verde {
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
*/


/*Selector por clases*/
/*
.rojo {
    background-color:red;
    border: 5px groove cornsilk;
    border-radius: 5px;
    font-size: 60px;
}


.verde {
    background-color:darkgreen;
    border: 5px groove cadetblue;
    border-radius: 5px;
    font-size: 60px;
}
*/

/* 
[type="text"] {
    color:rosybrown;
}

[href *="you"] {
    color:red;
}

[href^="https"] {
    font-size: 50px;
}

[href $="mx"] {
    background-color: rebeccapurple;
}

[href="#"] {
    background-color: chartreuse;
} 
*/

#mp1 {
    border-top: 3px solid coral;
    border-bottom: 3px solid coral;
}

#mp1 main {
    background-color: chartreuse;
}

#mp1 aside {
    background-color: aquamarine;
}

#mp1 > footer {
    background-color: aqua;
}

/* Poner Borde al pie de los articulos */

#mp1 article > footer {
    border:1px double gray;
    background-color: aqua;
}

h2 ~ article {
    box-shadow: 5px 5px 5px chartreuse;
}

hr {
    background-color: white;
    border: 5px double white;
}


/*Hermano adyacente*/

h2 + article , #mp1 nav{
    box-shadow: 5px 5px 5px red;
    border-top: 5px double rebeccapurple;
}